<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/herman_liang" target="_blank">@herman_liang</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/hermanliang" target="_blank">@hermanliang</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/jen-i-liang-4a09b351" target="_blank">linkedin.com/in/jen-i-liang-4a09b351</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="https://hermanliang.github.io" target="_blank">hermanliang.github.io</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:hermanliang80@gmail.com" target="_blank">hermanliang80@gmail.com</a></p>